{% extends 'base.html' %}

{% block title %}
    Admin Panel
{% endblock %}

{% block content %}
    <h1>Admin Panel</h1>
    <table>
        <tr>
            <th>Id_sesji</th>
            <th>Długość</th>
            <th>Szerokość</th>
            <th>Wyokość</th>
            <th>Wysokość stopnia</th>
            <th>Liczba stopni</th>
        </tr>
        {% for person in people %}
        <tr>
            <td>{{ person['session_id'] }}</td>
            <td>{{ person['length'] }}</td>
            <td>{{ person['width'] }}</td>
            <td>{{ person['height'] }}</td>
            <td>{{ person['step_height'] }}</td>
            <td>{{ person['number_of_steps'] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
