{% extends 'base.html' %}

{% block title %}
    Admin Panel
{% endblock %}

{% block content %}
    <h1>Admin Panel</h1>
    <form action="" method="get">
        <input type="text" name="type" placeholder="Filtruj po typie schodów">
        <input type="submit" value="Filtruj">
    </form>

    <table>
        <tr>
            <th>Id_sesji</th>
            <th><a href="?sort=length">Długość</a></th>
            <th><a href="?sort=width">Szerokość</a></th>
            <th><a href="?sort=height">Wyokość</a><</th>
            <th><a href="?sort=step_height">Wysokość stopnia</a><</th>
            <th><a href="?sort=number_of_steps">Liczba stopni</a><</th>
            <th>Typ schodów</th>
            <th> <a href="?sort=generated_date">Data stworzenia</a><</th>
            <th>Akcje</th>
        </tr>
        {% for stairs in stairs %}
        <tr>
            <td>{{ stairs['session_id'] }}</td>
            <td>{{ stairs['length'] }}</td>
            <td>{{ stairs['width'] }}</td>
            <td>{{ stairs['height'] }}</td>
            <td>{{ stairs['step_height'] }}</td>
            <td>{{ stairs['number_of_steps'] }}</td>
            <td>{{ stairs['Type'] }}</td>
            <td>{{ stairs['generated_date'] }}</td>
            <td>
            <form class="delete-form" action="{{ url_for('views.delete_stairs', session_id=stairs['session_id']) }}" method="POST">
                <button class="delete-button" type="submit">Usuń</button>
            </form>
        </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
