<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title class="title">{% block title %} {% endblock %} - Test</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script>
        function validateForm() {
            let inputs = document.querySelectorAll('input[type="text"]');
            let button = document.getElementById('submitButton');

            for (let i = 0; i < inputs.length; i++) {
                let inputValue = inputs[i].value.trim();

                if (inputValue === '') {
                    alert('Wprowadź wszystkie wymagane dane!');
                    return false;
                }

                if (!/^\d+$/.test(inputValue) || parseInt(inputValue) <= 0) {
                    alert('Wprowadź liczbę całkowitą nieujemną różną od zera!');
                    return false;
                }

                switch (inputs[i].name) {
                    case 'Długość stopnia (mm)':
                        if (parseInt(inputValue) >= 5000) {
                            alert('Długość stopnia musi być mniejsza niż 5000!');
                            return false;
                        }
                        break;
                    case 'Szerokość stopnia (mm)':
                        if (parseInt(inputValue) >= 5000) {
                            alert('Szerokość stopnia musi być mniejsza niż 5000!');
                            return false;
                        }
                        break;
                    case 'Wysokość stopnia (mm)':
                        if (parseInt(inputValue) >= 1000) {
                            alert('Wysokość stopnia musi być mniejsza niż 1000!');
                            return false;
                        }
                        break;
                    case 'Wysokość między stopniami (mm)':
                        if (parseInt(inputValue) >= 500) {
                            alert('Wysokość między stopniami musi być mniejsza niż 500!');
                            return false;
                        }
                        break;
                    case 'Ilość stopni':
                        if (parseInt(inputValue) >= 30) {
                            alert('Ilość stopni musi być mniejsza niż 30!');
                            return false;
                        }
                        break;
                    default:
                        break;
                }
            }

            button.disabled = true;

            setTimeout(function () {
                button.disabled = false;
            }, 15000);

            return true;
        }

        document.addEventListener('DOMContentLoaded', function () {
    var form = document.querySelector('form');
    var button = document.getElementById('submitButton');
    var loadingIcon = document.getElementById('loadingIcon');

    button.addEventListener('click', function (event) {
        event.preventDefault();

        if (validateForm()) {
            showLoadingIcon();
            form.submit();
        }
    });

    function showLoadingIcon() {
        loadingIcon.style.display = 'block';
    }
});
    </script>
</head>

<body>
    <nav>
        <a href="http://srv25.mikr.us:20117/views/create/">
            <img src="{{ url_for('static', filename='images/Logo3.png') }}" alt=" Schody3D">
        </a>
        <ul class="menu">
            <li class="menu-item">
                <a href="">
                    <img src="{{ url_for('static', filename='images/menu.png') }}" alt="menu">
                </a>
                <ul class="submenu">
                    <li class="submenu-item"><a href="">Tutorial</a></li>
                    <li class="submenu-item"><a href="">Kontakt</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <div class="footer">
        © 2023 Schody3D. All rights reserved.
    </div>
</body>

</html>
