{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <div class="form-container-background">
        <h1>{% block title %}Generator Schodów{% endblock %}</h1>
        <form method="post" onsubmit="return validateForm()">
            <label for="length-slider">Długość stopnia (mm):</label>
            <input type="range" id="length-slider" name="Długość stopnia (mm)" min="500" max="2000" value="1000" step="10">
            <input type="number" id="length-number" value="1000" min="500" max="2000" step="10" oninput="syncSlider('length-slider', this.value)">

            <label for="width-slider">Szerokość stopnia (mm):</label>
            <input type="range" id="width-slider" name="Szerokość stopnia (mm)" min="100" max="1000" value="300" step="10">
            <input type="number" id="width-number" value="300" min="100" max="1000" step="10" oninput="syncSlider('width-slider', this.value)">

            <label for="height-slider">Wysokość stopnia (mm):</label>
            <input type="range" id="height-slider" name="Wysokość stopnia (mm)" min="50" max="300" value="150" step="5">
            <input type="number" id="height-number" value="150" min="50" max="300" step="5" oninput="syncSlider('height-slider', this.value)">

            <label for="spacing-slider">Wysokość między stopniami (mm):</label>
            <input type="range" id="spacing-slider" name="Wysokość między stopniami (mm)" min="100" max="400" value="200" step="5">
            <input type="number" id="spacing-number" value="200" min="100" max="400" step="5" oninput="syncSlider('spacing-slider', this.value)">

            <label for="steps-slider">Ilość stopni:</label>
            <input type="range" id="steps-slider" name="Ilość stopni" min="1" max="20" value="10" step="1">
            <input type="number" id="steps-number" value="10" min="1" max="20" step="1" oninput="syncSlider('steps-slider', this.value)">

            <button type="submit" id="submitButton">Stwórz!</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.querySelectorAll('input[type=range]').forEach(item => {
        item.oninput = function() {
            document.getElementById(this.id + '-number').value = this.value;
        }
    });

    function syncSlider(sliderId, value) {
        document.getElementById(sliderId).value = value;
    }

    function validateForm() {
        // Tu możesz dodać walidację formularza, jeśli jest potrzebna
        return true;
    }
</script>
{% endblock %}
