 html {
            height: 100%;
            background: linear-gradient(to bottom, #291747, #0c162e, #0c162e, #0e1a35);
        }

        body {
            height: 100%;
            color: #ffffff;
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
        }

        nav {
            background-color: #081423;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        nav a {
            color: #d64161;
            font-size: 1.5em;
            text-decoration: none;
            margin-left: 20px;
        }

        nav a:hover {
            color: #ffffff;
        }

        .menu {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .menu-item {
            margin-left: 20px;
        }

        .submenu {
            display: none;
            position: absolute;
            background-color: #081423;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            right: 0;
            margin: 0;
            padding: 0;
        }

        .menu-item:hover .submenu {
            display: block;
        }

        .submenu-item {
            padding: 10px;
            text-decoration: none;
            color: #d64161;
            display: block;
            text-align: center;
        }

        .submenu-item:hover {
            background-color: #1a304e;
        }

        hr {
            border: none;
            height: 1px;
            background-color: #d64161;
            box-shadow: 0 0 10px rgba(214, 97, 97, 0.8);
            margin: 0;
        }

        .content {
            padding: 20px;
        }

        .footer {
            background-color: #081423;
            color: #ffffff;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        form {
            margin: 20px auto;
            margin-bottom: 0px;
            max-width: 500px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #d64161;
        }

        input[type="text"],
            textarea {
                color: #ffffff;
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                box-sizing: border-box;
                background-color: transparent;
                border: none;
                border-bottom: 3px solid #d64161; /* Dodajemy border tylko od dołu */
                border-radius: 3px;
            }
        input[type="text"]:focus,
            textarea:focus {
                outline: none;
            }

        input[type="submit"] {
            background-color: #d64161;
            color: #ffffff;
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #ffffff;
            color: #d64161;
        }

        .submenu {
            text-align: left;
        }

        .submenu-item {
            display: block;
            margin: 0 auto;
        }

        nav a img {
            height: 100px;
            margin-right: 10px;
        }

        .menu-item img {
            height: 40px;
            margin-right: 10px;
        }

        .form-container {
            background: linear-gradient(to bottom, #291747, #d64161);
            padding: 5px;
            border-radius: 5px;
            width: 35%;
            margin: 0 auto;
            margin-top: 80px;
        }

        .form-container-background {
            background: #0c162e;
            padding: 2rem;
        }

        .form-container h1 {
            text-align: center;
        }

        .form-container button {
            background-color: #081423;
            color: #ffffff;
            width: 200px;
            padding: 15px 25px;
            font-size: 1.2em;
            border: 2px solid #d64161;
            border-radius: 10px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
        }

        .form-container button:hover {
            background-color: #d64161;
        }
        .loading-icon {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #ffffff;
    border-top: 5px solid #d64161;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
/* Dodatkowe style dla tabelki */
table {
    margin: 0 auto; /* Wyśrodkowanie tabelki */
    border-collapse: collapse; /* Usunięcie odstępów między komórkami */
    width: 80%; /* Szerokość tabelki */
}

th, td {
    padding: 4px; /* Wypełnienie komórek */
    border: 1px solid #d64161; /* Obramowanie komórek */
    text-align: left; /* Wyrównanie tekstu do lewej */
}

th {
    font-size: 1.2em; /* Większy tekst w nagłówkach */
    background-color: #081423; /* Kolor tła nagłówków */
    color: #ffffff; /* Kolor tekstu w nagłówkach */
}

tr:nth-child(even) {
    background-color: #0c162e; /* Kolor tła co drugiego wiersza */
}

tr:hover {
    background-color: #1a304e; /* Kolor tła podczas najechania myszką */
}

/* Dodatkowe style dla przycisku */
button {
    background-color: #d64161;
    color: #ffffff;
    padding: 15px 25px;
    font-size: 1.2em;
    border: 2px solid #d64161;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.delete-button {
    background-color: #d64161;
    color: #ffffff;
    padding: 3px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #cc0000;
}